---
// Import SecondaryCTA component for use in this module
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { pricing } = Astro.props;

// Define TypeScript type for products.
type Product = {
  name: string;
  description: string;
  price: string;
  cents: string;
  billingFrequency: string;
  features: Array<string>;
  purchaseBtnTitle: string;
  purchaseLink: string;
};

interface PricingSectionProps {
  title: string;
  subTitle: string;
  badge: string;
  thirdOption: string;
  btnText: string;
  pricing: {
    title: string;
    subTitle: string;
    individualPlan: Product;
    teamsPlan: Product;
    enterprisePlan: Product;

  };
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Section heading and sub-heading -->
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {pricing.title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {pricing.subTitle}
    </p>
  </div>
  <!-- Contains three main product blocks -->
  <div class="flex flex-wrap items-center justify-center gap-4">
    <!-- 'Individual' product details -->
    <div
      class="w-full max-w-sm rounded-xl bg-gray-800 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
          {pricing.individualPlan.name}
        </h3>
        <p class="text-indigo-300">{pricing.individualPlan.description}</p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold text-neutral-200"
          >{pricing.individualPlan.price}</span
        >
        <span class="ms-3 text-sm text-indigo-200"
          >{pricing.individualPlan.billingFrequency}</span
        >
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2 text-neutral-300">
        {
          pricing.individualPlan.features.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.individualPlan.purchaseLink}
        class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-bold text-gray-100 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:text-gray-300 md:text-base"
        >{pricing.individualPlan.purchaseBtnTitle}</a
      >
    </div>
    <!-- Professional Toolbox product details -->
    <div
      class="w-full max-w-sm rounded-xl bg-gray-800 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
          {pricing.teamsPlan.name}
        </h3>
        <p class="text-indigo-300">{pricing.teamsPlan.description}</p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold text-neutral-200"
          >{pricing.teamsPlan.price}</span
        >
        <span class="ms-3 text-sm text-indigo-200"
          >{pricing.teamsPlan.billingFrequency}</span
        >
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2 text-neutral-300">
        {
          pricing.teamsPlan.features.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.teamsPlan.purchaseLink}
        class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-bold text-gray-100 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:text-gray-300 md:text-base"
        >{pricing.teamsPlan.purchaseBtnTitle}</a
      >
    </div>
    <!-- enterprisePlan product details -->
    <div
      class="w-full max-w-sm rounded-xl bg-gray-800 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
          {pricing.enterprisePlan.name}
        </h3>
        <p class="text-indigo-200">{pricing.enterprisePlan.description}</p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold text-neutral-100"
          >{pricing.enterprisePlan.price}</span
        >
        <span class="ms-3 text-sm text-indigo-200"
          >{pricing.enterprisePlan.billingFrequency}</span
        >
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2 text-neutral-300">
        {
          pricing.enterprisePlan.features.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.enterprisePlan.purchaseLink}
        class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-bold text-gray-100 outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:text-gray-300 md:text-base"
        >{pricing.enterprisePlan.purchaseBtnTitle}</a
      >
    </div>
  </div>
</section>
