---
// Import SecondaryCTA component for use in this module
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { pricing } = Astro.props;

// Define TypeScript type for products.
type Product = {
  name: string;
  description: string;
  price: string;
  cents: string;
  billingFrequency: string;
  features: Array<string>;
  purchaseBtnTitle: string;
  purchaseLink: string;
};

interface PricingSectionProps {
  title: string;
  subTitle: string;
  badge: string;
  thirdOption: string;
  btnText: string;
  pricing: {
    title: string;
    subTitle: string;
    individualPlan: Product;
    teamsPlan: Product;
    enterprisePlan: Product;

  };
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Section heading and sub-heading -->
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {pricing.title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {pricing.subTitle}
    </p>
  </div>
  <!-- Contains three main product blocks -->
  <div class="flex flex-wrap items-center justify-center gap-4">
    <!-- Individual product details -->
    <div
      class="w-full max-w-sm rounded-xl bg-neutral-100 text-neutral-800 dark:bg-white/[.075] dark:text-neutral-200 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold sm:text-3xl">
          {pricing.individualPlan.name}
        </h3>
        <p class="text-[#5EC7A1]">
          {pricing.individualPlan.description}
        </p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold">{pricing.individualPlan.price}</span>
        <span class="ms-3 text-sm text-[#5EC7A1]">
          {pricing.individualPlan.billingFrequency}
        </span>
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2">
        {pricing.individualPlan.features.map((feature: string) => (
          <li class="flex items-center gap-1.5">
            <Icon name="checkCircle" class="text-indigo-[#5EC7A1]" />
            <span>{feature}</span>
          </li>
        ))}
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.individualPlan.purchaseLink}
        class="block rounded-lg bg-[#5EC7A1] text-gray-100 px-8 py-3 text-center text-sm font-bold transition hover:bg-[#3EB489] focus:ring-indigo-300 focus-visible:ring md:text-base"
      >
        {pricing.individualPlan.purchaseBtnTitle}
      </a>
    </div>

    <!-- Repeat for other plans -->
    <!-- Teams Plan -->
    <div
      class="w-full max-w-sm rounded-xl bg-neutral-100 text-neutral-800 dark:bg-white/[.075] dark:text-neutral-200 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold sm:text-3xl">{pricing.teamsPlan.name}</h3>
        <p class="text-[#5EC7A1]">
          {pricing.teamsPlan.description}
        </p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold">{pricing.teamsPlan.price}</span>
        <span class="ms-3 text-sm text-[#5EC7A1]">
          {pricing.teamsPlan.billingFrequency}
        </span>
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2">
        {pricing.teamsPlan.features.map((feature: string) => (
          <li class="flex items-center gap-1.5">
            <Icon name="checkCircle" class="text-[#5EC7A1]" />
            <span>{feature}</span>
          </li>
        ))}
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.teamsPlan.purchaseLink}
        class="block rounded-lg bg-[#5EC7A1] text-gray-100 px-8 py-3 text-center text-sm font-bold transition hover:bg-[#3EB489] focus:ring-indigo-300 focus-visible:ring md:text-base"
      >
        {pricing.teamsPlan.purchaseBtnTitle}
      </a>
    </div>

    <!-- Enterprise Plan -->
    <div
      class="w-full max-w-sm rounded-xl bg-neutral-100 text-neutral-800 dark:bg-white/[.075] dark:text-neutral-200 p-6 shadow-md sm:w-1/3 lg:p-8"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold sm:text-3xl">
          {pricing.enterprisePlan.name}
        </h3>
        <p class="text-[#5EC7A1]">
          {pricing.enterprisePlan.description}
        </p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold">{pricing.enterprisePlan.price}</span>
        <span class="ms-3 text-sm text-[#5EC7A1]">
          {pricing.enterprisePlan.billingFrequency}
        </span>
      </div>
      <!-- Features list -->
      <ul class="mb-6 space-y-2">
        {pricing.enterprisePlan.features.map((feature: string) => (
          <li class="flex items-center gap-1.5">
            <Icon name="checkCircle" class="text-[#5EC7A1]" />
            <span>{feature}</span>
          </li>
        ))}
      </ul>
      <!-- CTA button -->
      <a
        href={pricing.enterprisePlan.purchaseLink}
        class="block rounded-lg bg-[#5EC7A1] text-gray-100 px-8 py-3 text-center text-sm font-bold transition hover:bg-[#3EB489] focus:ring-indigo-300 focus-visible:ring md:text-base"
      >
        {pricing.enterprisePlan.purchaseBtnTitle}
      </a>
    </div>
  </div>
</section>
