---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/assertive-logo.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>

  <!-- Add src={heroImage} -->
  <HeroSection
    title=`Accelerate development with <span style="color: #3E6CFF;">Assertive AI</span>`
    subTitle="Shifting the focus from testing to building by generating thousands of unit tests at scale with reliable AI."
    primaryBtn="Try Now"
    primaryBtnURL="/products"
    secondaryBtn="Book a Demo"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    src={heroImage}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="Building faster"
    subTitle="Assertive AI addresses the critical challenge of test-related technical debt, empowering businesses to swiftly overcome it and prevent its recurrence, enabling teams to focus on what truly matters— driving development and fostering innovation."
    features={features}
  />

  <FeaturesNavs
    title=`Empowering teams with <span class="text-[#3E6CFF]">Assertive AI</span>, allowing them to focus on building instead of fixing. Build, test, and deploy with AI you can trust.`
    tabs={[
      {
        heading: "Accelerate your Unit Testing",
        content:
          "Writing hundreds of unit and regressions tests at scale in minutes instead of days, Assertive AI provides accurate, readable, and maintable tests with zero manual effort.",
        svg: "tools",
        src: tools,
        alt: "Hundreds of tests being generated at scale with a timer",
        first: true,
      },
      {
        heading: "Never push broken code again",
        content:
          "Leverage Assertive AI's CI/CD integration to enable continuous unit testing and maintenace with every merge/pull request made.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of a merging PR with tests in the background and a screenshot of Assertive Tests vs Manual to show impact.",
        second: true,
      },
      {
        heading: "Always meet Coverage Requirements",
        content:
          "Collect, monitor and analyze coverage from unit tests, profiting from Assertive's guaranteed instant increase in code coverage.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

</MainLayout>
