---
interface Props {
  id: string;
  label: string;
  name: string;
  required?: boolean;
  // Add any other props you need, such as placeholder, type, etc.
}

const { id, label, name, required = false } = Astro.props as Props;
---

<div class="flex flex-col">
  <label
    for={id}
    class="mb-1 text-sm font-medium text-neutral-700 dark:text-neutral-300"
  >
    {label}
  </label>
  <input
    id={id}
    name={name}
    required={required}
    class="rounded-md border border-neutral-300 p-2 dark:border-neutral-600 dark:bg-neutral-700"
    type="text"
  />
</div>
